/.vagrant/**
/GitActivity/gitIgnore/*.c
/GitActivity/gitIgnore/ignoredfile
!/.gitignore
2023*.log
GitActivity/*
!GitActivity/b
!GitActivity/*.md
!GitActivity/*.sh
!GitActivity/Merge_Rebase
!GitActivity/gitIgnore
./COMSM0085/
